<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%c] %m %n" />
		</layout>
	</appender>
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./test.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="512KB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p %m%n" />
		</layout>
	</appender>

	<logger name="com.sample" additivity="false">
		<level value="trace" />
		<appender-ref ref="file" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="file" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>